<div class="jumbotron">
  <h2 id="terminos">Terminos y condiciones</h2>
  <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y
    perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en
    relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el
    vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o
    falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados
    sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
  <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que
    puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y
    ficheros almacenados en su sistema informático.</p>
  <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea
    completamente segura. El Usuario asume este riesgo.</p>

</div>
<strong>
  <p>No leer lo anterior, es solo un ejemplo sacado de https://www.argentina.gob.ar/terminos-y-condiciones </p>
</strong>
<button class="btn btn-dark" onclick="document.getElementById('id01').style.display='block'"
  style="width:auto;">Acepto</button>
<button class="btn btn-outline-danger" routerLink="/Login" style="width:auto;">No acepto</button>
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate" #f="ngForm">
    <div class="container">
      <label><b>Nombre de usuario</b></label>
      <input [(ngModel)]="jugador.usuario" type="text" placeholder="Ingresa tu correo" name="email" required>

      <label><b>Nombre completo</b></label>
      <input [(ngModel)]="jugador.nombre" type="text" placeholder="Ingresa tu alias" name="alias" required>
      <label><b>Tipo de empleado</b></label>
      <select class="form-control mr-sm-2" ngModel name="id_menu" required >
        <option value="1">Socio</option>
        <option value="2">Mozo</option>
        <option value="3">Cocinero</option>
        <option value="4">Bartender</option>
        <option value="5">Cervecero</option>
        <option value="6">CandyBar</option>
    </select>
      <!-- <div class="img">
        
        <label for="foto"><b>Foto:</b>
          <input id="foto" type="file" required name="foto" ngModel required #file="ngModel"
            accept="image/png, image/jpeg" (change)="onFileSelect($event)" class="form-control mr-sm-2"></label>
        <div *ngIf="file.invalid && (file.dirty || file.touched)" class="alert alert-danger">
          <div *ngIf="file.errors.required">
            Imagen requerida.
          </div>
        </div>
      </div> -->

      <label><b>Clave</b></label>
      <input [(ngModel)]="jugador.clave" type="password" placeholder="Ingresa tu clave" name="psw" required>

      <label><b>Repita la clave</b></label>
      <input [(ngModel)]="confirmaClave" type="password" placeholder="Repite la clave" name="psw-repeat" required>
      <input type="checkbox" checked="checked">Recordar mis datos
      <p>creando la cuenta aceptando los Terminos y
        condiciones.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'"
          class="btn btn-outline-danger">Me
          arrepenti</button>
        <button (click)="registrar()" type="submit" class="btn btn-dark" [disabled]="f.invalid">Registrarme</button>
      </div>
    </div>
  </form>
</div>