<button type="button" class="btn btn-info btn-circle"  data-toggle="modal"
  data-target="#ServirModal" (click)="servirPedido()" ><i class="fas fa-bell"></i>
</button>

<!-- Modal Listo pedido -->
<div class="modal fade" id="ServirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black;">
          Pedidos
        </h5>
        
      </div>
      <div class="modal-body">
        <h6 id="ConfirmacionPedido" style="color: black;">Pedido servido correctamente!</h6>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="actualizarComponente()">
          De acuerdo
        </button>
      </div>
    </div>
  </div>
</div>
<!---->