<app-cabecera></app-cabecera>
<!-- Modal Actualizar Imagen -->
<div class="register">
  <div class="game">
    <div class="buttons">
      <button class="btn btn-primary" id="new" data-toggle="modal" data-target="#ActualizarFotoModal">
        Actualizar Foto Mesa
      </button>

      <button class="btn btn-primary" id="new" data-toggle="modal" data-target="#EsperandoPedidoModal">
        CambiarEstado_EsperandoPedido &nbsp;&nbsp;&nbsp;
        <!-- Button trigger modal -->
      </button>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="buttons">
      <button class="btn btn-primary" id="new" data-toggle="modal" data-target="#servirPedidoModal">
        ServirPedido &nbsp;&nbsp;&nbsp;
      </button>
      <button class="btn btn-primary" id="reveal" data-toggle="modal" data-target="#estadoComiendoModal">
        CambiarEstado_Comiendo
      </button>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="buttons">
      <button class="btn btn-success" id="new" data-toggle="modal" data-target="#registrarPedidoModal"
        >
        RegistrarPedido
        <!-- Button trigger modal --><i></i>
      </button>
      <button class="btn btn-danger" id="reveal" data-toggle="modal" data-target="#cancelarPedidoModal">
        CancelarPedido
      </button>

      <button class="btn btn-primary" id="new" data-toggle="modal" data-target="#estadoPagandoModal">
        CambiarEstado_Pagando
      </button>
    </div>
    <!--
        <h5>Anagrama:</h5>
        <input type="text" class="form-control" [(ngModel)]="anagrama" placeholder="Anagrama" readonly>
        <h5>Ingrese la palabra correcta:</h5>
        <input type="text" class="form-control" [(ngModel)]="this.palabraIngresada" placeholder="Ingrese Palabra">
        <h3 [hidden]="!gano">GANOOO!</h3>
        <h3 [hidden]="!perdio">Perdio!</h3>
        <h3 *ngIf="this.null==true">Ingrese una palabra!</h3> -->
  </div>
</div>

<!-- Modal Actualizar Imagen -->
<div class="modal fade" id="ActualizarFotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Actualizar Imagen de Mesa
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-actualizar-foto></app-actualizar-foto>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          De acuerdo
        </button>
        <!-- Se Puede llamar a otro modal -->
        <!-- <button
          data-toggle="modal"
          data-target="#exampleModal2"
          type="button"
          class="btn btn-primary"
        >
          Mas info
        </button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal estado Esperando Pedido -->
<div class="modal fade" id="EsperandoPedidoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Cambiar Estado 'Esperando Pedido'
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-cambiar-estado [estado]="'estadoEsperando'"> </app-cambiar-estado>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          De acuerdo
        </button>
      </div>
    </div>
  </div>
</div>
<!---->
<!-- Modal estado Comiendo -->
<div class="modal fade" id="estadoComiendoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Cambiar Estado 'Con clientes comiendo'
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-cambiar-estado [estado]="'estadoComiendo'"> </app-cambiar-estado>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          De acuerdo
        </button>
      </div>
    </div>
  </div>
</div>
<!---->
<!-- Modal estado pagando -->
<div class="modal fade" id="estadoPagandoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Cambiar Estado 'Con clientes pagando'
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-cambiar-estado [estado]="'estadoPagando'"> </app-cambiar-estado>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          De acuerdo
        </button>
      </div>
    </div>
  </div>
</div>
<!---->

<!-- Modal servir pedido -->
<div class="modal fade" id="servirPedidoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Servir Pedido
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-servir-pedido></app-servir-pedido>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          De acuerdo
        </button>
      </div>
    </div>
  </div>
</div>
<!---->
<!-- Modal Registrar pedido -->
<div class="modal fade" id="registrarPedidoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Registrar Pedido
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-registrar-pedido></app-registrar-pedido>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          De acuerdo
        </button>
      </div>
    </div>
  </div>
</div>
<!---->
<!-- Modal Cancelar pedido -->
<div class="modal fade" id="cancelarPedidoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Cancelar Pedido
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-cancelar-pedido></app-cancelar-pedido>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          De acuerdo
        </button>
      </div>
    </div>
  </div>
</div>
<!---->