/* You can add global styles to this file, and also import other style files */
body {
  /* The image used */
  background-image: url(./assets/imagenes/login.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  }
  body, html {
      height: 100%;
      margin: 0;
  }
