<form class="form-inline my-2 my-lg-0" #f="ngForm" (ngSubmit)="onSubmit(f)" enctype="multipart/form-data">

  <input pattern="[0-9 ]*" id="nombre" name="nombre" ngModel required minlength="2" class="form-control mr-sm-2"
      type="text" placeholder="Codigo de la mesa" aria-label="Search" #nombre="ngModel"><!-- #first="ngModel" --><!-- pattern="[a-zA-Z ]*" -->

  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
      <div *ngIf="nombre.errors.required">
          Campo Requerido.
      </div>
      <div *ngIf="nombre.errors.pattern">
          El Codigo solo debe incluir numeros.
      </div>
      <div *ngIf="nombre.errors.minlength">
          El Codigo debe tener mas de 2 caracteres.
      </div>
      <div *ngIf="nombre.errors.forbiddenName">
          El Codigo no puede ser Admin.
      </div>
  </div><!-- 

  <select class="form-control mr-sm-2" ngModel name="genero" required>
      <option>Terror</option>
      <option>Comedia</option>
      <option>Amor</option>
      <option>Otros</option>
  </select>

  <input required name="cantidadDePublico" ngModel required minlength="4" class="form-control mr-sm-2" type="text"
      placeholder="Cantidad de Publico" aria-label="Search" #cantidadDePublico="ngModel">

  <div style="width: 100%;"
      *ngIf="cantidadDePublico.invalid && (cantidadDePublico.dirty || cantidadDePublico.touched)"
      class="alert alert-danger">
      <div *ngIf="cantidadDePublico.errors.required">
          Campo Requerido.
      </div>
      <div *ngIf="cantidadDePublico.errors.minlength">
          La nacionalidad debe tener mas de 6 caracteres.
      </div>
  </div>

  <label for="fecha">Fecha de Estreno <input id="fecha" required name="fecha_de_estreno" ngModel required
          class="form-control mr-sm-2" type="date" placeholder="Fecha de Nacimiento" aria-label="Search"
          #fecha="ngModel"></label>
  <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="alert alert-danger">
      <div *ngIf="fecha.errors.required">
          Campo Requerido.
      </div>
  </div> -->
  <div class="img">
      <label for="foto" class="form-control mr-sm-2">Seleccionar Foto</label>
      <!-- <image-upload  (uploadFinished)="onUploadFinish($event,f)"></image-upload> -->
          <input id="foto" type="file" required name="foto" ngModel required #file="ngModel" 
              accept="image/png, image/jpeg" (change)="onFileSelect($event)" class="form-control mr-sm-2">
      <div *ngIf="file.invalid && (file.dirty || file.touched)" class="alert alert-danger">
          <div *ngIf="file.errors.required">
              Imagen requerida.
          </div>
      </div>
  </div>



  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="f.invalid">Registrar</button>

  <div class="submitted-message" *ngIf="f.submitted">
      <p>Has registrado la pelicula, {{ f.value.nombre }}!</p>
      <button (click)="f.resetForm({})">Agregar nueva Pelicula</button>
  </div>

</form>
<!-- <div>
  <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="file" name="profile" (change)="onFileSelect($event)" />
    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div> -->